development:
  adapter: mysql2
  encoding: utf8
  database: devmrpres_converter
  username: root
  password: 

test:
  adapter: mysql2
  encoding: utf8
  database: testmrpres_converter
  username: root
  password: 

production:
  adapter: mysql2
  encoding: utf8
  database: prodmrpres_converter
  username: root
  password: 